node_modules
.idea
.terraform
.tfvars
terraform.tfvars

override.tf
override.tf.json

*_override.tf
*_override.tf.json

*.zip

*.local.js
.auto.tfvars
!dev.tfvars
!stage.tfvars
!production.tfvars
terraform.exe